*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

html, body{
height: 200%;
}
.container{
    background-color: rgb(99, 247, 247);
    width: 90%;
    height: 80%;
    margin: auto; /*center the element in the page.*/
    position: relative; /*this position is more important then the position of the boxes because it's a parent of them.*/
}

.box1, .box2, .box3{
    width: 20%;
    height: 20%;
    background-color: rgb(243, 51, 51);
}

.box1{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(+50%, -50%); /*usefull to center the element*/
}

.box2{
    position: relative;
    background-color: chocolate;
    left: 70%;
}

.box3{
    background-color: cornflowerblue;
    position: sticky;
    top: 0%
}